*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container2 { 
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;

}
#canvas2 { border: 1px solid #000;  }


@media only screen and (max-width: 600px) {
  h1{
      font-size: 1.5rem;
  }
}